// font-family: 'DM Sans', sans-serif;
// font-family: 'Lato', sans-serif;
// font-family: 'Roboto', sans-serif;

// Variables perso
@import "variables_overrides.scss";
@import "utilities_custom.scss";

// Fichier scss complet de BS
@import "../node_modules/bootstrap/scss/bootstrap.scss";

//Import css perso
@import "style.css";

//Mise en forme dropdowns
.dropdown-toggle {
 min-width: 150px;
 border: none;

 font-weight: 700;
}

.dropdown-menu{
    border-radius: 0px 0px 5px 5px;
}

.dropdown-toggle.show {
    border-radius: 5px 5px 0px 0px;
}

  .dropdown-toggle:after {
    border: none;

  }

.dropdown-toggle,
.dropdown-menu {
    border: none;
    min-width: 150px;
}

// .chevron {
//   transform: rotate(180deg);
// }

#search-menu button {
font-family: 'DM', sans-serif;
}

#card-body-container{
  background-color: #E7E7E7;
}

.list-group-item {
  background-color: #E7E7E7;
}

.card-main {

  font-size: 8px;
}

.list-group-item {
  border:none;
  margin: 0;
  padding: 0;
}